
ul.tree, ul.tree ul {
    margin: 2px;
    padding: 0;
}

li {
    list-style: none;
    margin-left: 10px;
    padding: 2px;
}

li.expanded div.toggle {
    background-image: url("../images/less.png");
}

li.contracted div.toggle {
    background-image: url("../images/more.png");
}

span {
    padding: 2px;
}

span.selected {
    background-color: #d9d9d9;
}

[contenteditable]:hover {
    outline: 1px dotted #949494;
}

[draggable] {
    -moz-user-select: none;
    -khtml-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

.drag {
    background-color: #d9d9d9;
    opacity: 0.6;
}

.placeholder {
    width: 200px;
    border-top: thin solid black;
}

.toggle {
    height: 11px;
    width: 11px;
    display: block;
    float: left;
    position: relative;
    margin: 3px;
}

.options {
    display: inline-block;
    margin-left: 20px;
}

.hidden {
    display: none;
    visibility: hidden;
}
