
ul.tree, ul.tree ul {
    margin: 2px;
    padding: 0;
}

li {
    list-style: none;
    margin-left: 10px;
    padding: 2px;
}

li.expanded div.toggle {
    background-image: url("../images/less.png");
}

li.contracted div.toggle {
    background-image: url("../images/more.png");
}

span.selected {
    background-color: #c4e2fa;
    border: thin solid black;
    border-radius: 5px;
    padding: 2px;
}

[contenteditable]:hover {
    outline: 1px dotted #949494;
}

.toggle {
    height: 11px;
    width: 11px;
    display: block;
    float: left;
    position: relative;
    margin: 3px;
}

.options {
    display: inline-block;
    margin-left: 20px;
}

.hidden {
    display: none;
    visibility: hidden;
}
